FRONTEND_URL = http://localhost:3000

SERVER_PORT = 8080
FRONTEND_PORT = 3000
BACKEND_URL = https://localhost:8080
BACKEND_API_URL = https://localhost:8080/api


POSTGRES_HOST = localhost
POSTGRES_PORT = 5432
POSTGRES_USER = thesis_scripts_dev_user
POSTGRES_PASSWORD = r6%6tG3vhVsGgTeG%T76
POSTGRES_DB = thesis_scripts_dev_db
DB_DIALECT = postgres
DB_MIGRATION_STORAGE = sequelize
DB_MIGRATION_STORAGE_TABLE_NAME = migrations_applied
DB_SEEDER_STORAGE = sequelize
DB_SEEDER_STORAGE_TABLE_NAME = seeders_applied


# SECRETS
SESSION_SECRET = cb3831d4-61a0-4888-8599-7fb2264c30d4


# EXTERNAL APIs
GITHUB_API__URL = https://api.github.com
GITHUB_API__TIMEOUT = 5000
GITHUB_API__TOKEN = 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
OPENWEBUI__CORE_API__URL = http://34.133.8.243:11481
OPENWEBUI__CORE_API__TIMEOUT = 120000
OPENWEBUI__CORE_CHAT_COMPLETIONS__TIMEOUT = 120000
OPENWEBUI__CORE_API__TOKEN = sk-ec417ed3a68a42c0b897561349ed4ab8
OPENWEBUI__CORE_CHAT_MODEL =
GITHUB_PR_CLASSIFICATION_JOB_INTERVAL_MS = 60000
GITHUB_PR_CLASSIFICATION_JOB_STALE_MS = 900000
GITHUB_PR_CLASSIFICATION_MAX_PRS_PER_REPO = 200

SONARQUBE_URL=http://34.133.8.243:9000
SONARQUBE_TOKEN=squ_4722e728066c9943f692c31d738030f95f626882
SONARQUBE_CLONE_ROOT=/Volumes/DATA/dev/university/nodejs-scripts/cloned-repositories
SONARQUBE_SCANNER_MODE=npm
SONARQUBE_WAIT_TIMEOUT_SECONDS=18000
SONARQUBE_JAVA_BINARIES=
SONARQUBE_STRICT_JAVA_ANALYSIS=false
GITHUB_PR_SONARQUBE_JOB_INTERVAL_MS=30000
GITHUB_PR_SONARQUBE_JOB_STALE_MS=600000
GITHUB_PR_SONARQUBE_MAX_PRS_PER_REPOSITORY=100